/* 
Body
-------------------------------------------------------------------------------
*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: #2B3A42;
  margin: 0;
  height: 100%;
  background-color: #EFEFEF;
}

.chart {
  padding-top: 150px;
  display: none;
  font-size: 13px;
  letter-spacing: 1px;
}


.content, .content-inner {
  position: relative;
  padding-top: 200px;
}

.navigation {
  height: 30px;
  width: 100%;
  position: fixed;
  background-color: #E74C3C;
  z-index: 10;
  letter-spacing: 2px;
  color: #EFEFEF;
  
  font-size: 12px;
  line-height: 8px;
}

.navigation ul {  
  list-style: none;
  padding: 0px; 
}

.navigation li {
  padding-right: 30px;
  display: inline;
}

.navigation li a:hover, a:focus {
  text-decoration: none;
  border-bottom: 2.5px solid #EFEFEF;
}

.navigation a {
  text-decoration: none;
}

li {
  list-style: none;
}

hr {
  border: solid #999;
  border-width: 1px 0 0;
}

/* 
Forms 
-------------------------------------------------------------------------------
*/

input[type=text], input[type=text]:focus {
  font-family: 'Lato';
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  outline: 0;
  width: 100%;
  border: 0;  
  color: #3F5765;
  background-color: #EFEFEF;

}

.play-menu {
  text-align: right;
}

button {
  font-family: 'Lato';
  font-size: 12px;
  color: #EFEFEF;
  background-color: #3F5765;
  border: none;
  letter-spacing: 1.25px;
  padding: 5px;
  width: 80px;
  transition: 0.3s;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #BDD4DE;
  cursor: pointer;

}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
}


/* 
Typography 
-------------------------------------------------------------------------------
*/


h1 {
  padding-left: 2px;
}

a, a:visited {
  color: #EFEFEF;
  text-decoration: none;
  text-decoration: underline;
 
}



/* 
Grid 
-------------------------------------------------------------------------------
*/

.row {
  clear: both;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

[class^="col-"] {
    float: left;
    margin: 0% 2.5% 0 0;
    list-style: none;
    position: relative;
}

[class^="col-"]:last-child {
    margin: 0;
}

.col-1 { width: 10.3125% } 
.col-2 { width: 23.125%; }
.col-3 { width: 35.9375%; } 
.col-4 { width: 48.75%;}
.col-5 { width: 61.5625%;} 
.col-6 { width: 74.375%;}
.col-7 { width: 87.1875%; } 
.col-8 { width: 100% } 

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .row { width: 768px; margin-left: 10; margin-right: 10; }      
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row { margin: 10; width: 420px; }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8 { width: 420px; }
}

@media only screen and (max-width: 767px) {
  .row { margin: 10; width: 300px; }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8 { width: 300px; }
}
